export(AT, PE, RR, OR, rMVN, post.check,mm,enu.tr,llpsi,imputeSS, imputeCounter,
prev, distrHs, numch, numgh,distrHsAT,distrHsAT1,distrHsDiscr,distrHsATDiscr,distrHsATDiscr2, rob.const,
adjCov, copgHsCont, BCDF, BiCDF, jc.probs,probm,probmS,postVb,ass.ms,edf.loop,pred.var,form.check,
adjCovSD,int.postcheck, overall.svG, susutsn, susu,pscr, pscr0, mice.impute.copulaSS, r.resp,
gt.bpm, esp.tr, eta.tr, teta.tr,copgHsAT,dof.tr,ass.dp,form.eq12,startsn, overall.sv,
bprobgHs,bprobgHstwoParC, mb, H.tri, g.tri, triprobgHs, H.triSS, g.triSS, triprobgHsSS, 
H.triESS, g.triESS, triprobgHsESS, pp, SS, bcontSurvGunivInform, rIC, bCopulaCLMgHsCont, pen,
bprobgHsPO, bcorrec, bcorrecDiscr,  Xdpred, pred.mvt, pred.gp, inform.setup, cv.inform, PDef, ggm.Deriv, ggmtrust, ggm.DerivOPT1, ggm.DerivOPT2,
bprobgHsSS, intB, rob.int, resp.CLM, ggmtrust.path, Dpens, Dpens2,
bprobgHsContUniv, lmc,
copgHs, copgHs2, copgHs3, PosDefCor,
logLik.SemiParBIV, logLik.ggmtrust,
LM.bpm, hazsurv.plot, approx.CLM,
VuongClarke,
plot.SemiParBIV, vis.gjrm,
predict.SemiParBIV,
predict.CopulaCLM,
print.AT, print.PE, print.RR, print.OR, 
print.prev, 
print.mb,
print.SemiParBIV,
print.SemiParTRIV,
print.gjrm, sim.resp,
print.gamlss,
print.copulaSampleSel,
print.summary.SemiParBIV,
print.summary.SemiParTRIV,
print.summary.gjrm,
print.summary.gamlss,
print.summary.copulaSampleSel,
S.m, 
conv.check,
SemiParBIV.fit.post,
SemiParTRIV.fit.post,
SemiParBIV.fit,
SemiParBIV,
SemiParTRIV,
gamlss,
gamlss.fit.post,
copulaReg.fit.post,
gjrm, CopulaCLM,
copulaSampleSel.fit.post,
copulaSampleSel,
summary.SemiParBIV,
summary.SemiParTRIV,
summary.gjrm,
summary.gamlss,
summary.copulaSampleSel,
working.comp,
resp.check,
polys.map, polys.setup)


importFrom(ggplot2, fortify)

importFrom(ismev, gpd.fit)
importFrom(magic, adiag)
importFrom(evd, rgpd)
importFrom(trustOptim, trust.optim)
importFrom(survey, svyrecvar, twophasevar, twophase2var, svyCprod)
importFrom(trust,trust)
importFrom(scam, scam)
importFrom(VGAM,pbinorm,dbinorm)
importFrom(survival, survfit, Surv)
import(mgcv)
importFrom(psych, tetrachoric)
importFrom(copula, tau, plackettCopula, iTau) 
importFrom(VineCopula, BiCopHfunc1, BiCopHfunc2, BiCopHfuncDeriv, BiCopCDF, BiCopTau2Par, BiCopPar2Tau, BiCopPDF, BiCopDeriv, BiCopDeriv2, BiCopHfuncDeriv2)
importFrom(matrixStats, rowQuantiles, colQuantiles, colWeightedMeans)
importFrom(gamlss.dist, pNBI, dNBI, pNBII, dNBII, pPIG, dPIG, pDEL, dDEL, pSICHEL, dSICHEL, pPO, rNO,rGU,rRG,rLO,rLOGNO,rWEI,rIG,rGA,rGB2,rBE,rNBI,rNBII,rPIG,rPO)
importFrom(matrixcalc, duplication.matrix)

importFrom(distrEx, distrExIntegrate)

importFrom(Rmpfr,getPrec,mpfr,pmax)
importFrom(mnormt, pmnorm)
importFrom(graphics, axTicks, abline, hist, lines, par, polygon, plot, rug, points) 
importFrom(grDevices, boxplot.stats, cm.colors, gray, heat.colors, terrain.colors, topo.colors, dev.new, dev.interactive, devAskNewPage)   
importFrom(stats, lm, median, qt, dpois, qpois, qlogis, plogis, dgamma, dlnorm, dlogis, dnorm, density, cor, coef, as.formula, aggregate.data.frame, integrate, 
           model.matrix, na.omit, na.pass, pbinom, pchisq, pgamma, plnorm, pnorm, printCoefmat,
           qnorm, qqnorm, quantile, residuals, rnorm, sd, uniroot, update, var, weighted.mean, dbeta, pbeta,
           ks.test, shapiro.test, runif, update.formula, qqplot, .checkMFClasses, delete.response,
           model.frame, model.offset, napredict, predict, reformulate, termplot, drop.terms, terms, rbinom,
           AIC, BIC, logLik)           
importFrom(utils, getFromNamespace)
importFrom(numDeriv, jacobian, hessian, grad)


S3method(plot, SemiParBIV)
S3method(summary, SemiParBIV)
S3method(summary, SemiParTRIV)
S3method(summary, gjrm)
S3method(summary, copulaSampleSel)
S3method(summary, gamlss)
S3method(print, AT)
S3method(print, PE)
S3method(print, RR)
S3method(print, OR)
S3method(print, SemiParBIV)
S3method(print, SemiParTRIV)
S3method(print, gjrm)
S3method(print, gamlss)
S3method(print, copulaSampleSel)
S3method(print, summary.SemiParBIV)
S3method(print, summary.SemiParTRIV)
S3method(print, summary.gjrm)
S3method(print, summary.gamlss)
S3method(print, summary.copulaSampleSel)
S3method(logLik, SemiParBIV)
S3method(logLik, ggmtrust)
S3method(predict, SemiParBIV)
S3method(predict, CopulaCLM)
S3method(print, prev)
S3method(print, mb)




