export(k.tau,ATE, SATE, PE, RR, OR, rMVN, res.check, mm,mmf,enu.tr,llpsi, jc.probs8, jc.probs7,bcontSurvGBINss,
prev, distrHs, numch, numgh,distrHsAT,distrHsAT1,distrHsDiscr,distrHsATDiscr,distrHsATDiscr2, rob.const,
adjCov, copgHsCont, BCDF, BiCDF, copula.prob, probm,probmS,postVb,theta2tau,edf.loop,pred.var,form.check,
adjCovSD,int.rescheck, overall.svG, susutsn, susu,pscr, pscr0, r.resp,
gt.bpm, esp.tr, eta.tr, teta.tr,copgHsAT,dof.tr,ass.dp,form.eq12,startsn, overall.sv,
bprobgHs,bprobgHstwoParC, mb, H.tri, g.tri, triprobgHs, g.triSS,  
g.triESS, pp, SS, bcontSurvGunivInform, rIC, bCopulaCLMgHsCont, bCopulaCLMgHsOrd, pen,
bprobgHsPO, bcorrec, bcorrecDiscr,  Xdpred, pred.gp, inform.setup, cv.inform, PDef, ggm.Deriv, ggmtrust, ggm.DerivOPT1, ggm.DerivOPT2,
bprobgHsSS, intB, rob.int, resp.CLM, ggmtrust.path, Dpens, Dpens2, bcontSurvGBINROY,
bprobgHsContUniv, lmc, bcontSurvGunivMIXED_ExcessHazard, survExcInd, pream.wm,
bcontSurvGunivL_ExcessHazard, bcontSurvGuniv_ExcessHazard, bcontSurvGunivI_ExcessHazard, bcontSurvGunivMIXED_LeftTruncation,
bcontSurvGunivMIXED_ExcessHazard_LeftTruncation,jc.probs4,
copgHs, copgHs2, copgHs3, PosDefCor,
logLik.SemiParBIV, logLik.ggmtrust, logLik.lmc, pTweed, bcontSurvG_extended,
LM.bpm, haz.surv, approx.CLM,
vuong.test, clarke.test,
bprobgHsBinROY, bprobgHsCont2ROY, bprobgHsCont3ROY, bprobgHsDiscr2ROY, bprobgHsDiscr1ROY,
plot.SemiParBIV, 
predict.SemiParBIV,
predict.CopulaCLM,
print.ATE, print.SATE, print.PE, print.RR, print.OR, 
print.prev, 
print.mb,
print.SemiParBIV,
print.SemiParROY,
print.SemiParTRIV,
print.gjrm, sim.resp,
print.gamlss,
print.copulaSampleSel,
print.summary.SemiParBIV,
print.summary.SemiParTRIV,
print.summary.SemiParROY,
print.summary.gjrm,
print.summary.gamlss,
print.summary.copulaSampleSel,
print.cond.mv, print.marg.mv, 
cond.mv, marg.mv,
S.m, 
conv.check,
SemiParBIV.fit.post,
SemiParTRIV.fit.post,
SemiParROY.fit.post,
SemiParBIV.fit,
SemiParBIV,
SemiParTRIV,
SemiParROY,
gamlss,
gamlss.fit.post,
copulaReg.fit.post,
gjrm, CopulaCLM,
copulaSampleSel.fit.post,
copulaSampleSel,
summary.SemiParBIV,
summary.SemiParROY,
summary.SemiParTRIV,
summary.gjrm,
summary.gamlss,
summary.copulaSampleSel,
working.comp,
resp.check,
polys.map, polys.setup)


importFrom(ggplot2, fortify)
importFrom(ismev, gpd.fit)
importFrom(magic, adiag)
importFrom(evd, rgpd)
importFrom(survey, svyrecvar, twophasevar, twophase2var, svyCprod)
importFrom(trust,trust)
importFrom(scam, scam)
importFrom(VGAM, pbinorm, dbinorm)
importFrom(survival, survfit, Surv)
import(mgcv)
importFrom(psych, tetrachoric)
importFrom(copula, tau, plackettCopula, iTau, galambosCopula) 
importFrom(VineCopula, BiCopHfunc1, BiCopHfunc2, BiCopHfuncDeriv, BiCopCDF, BiCopTau2Par, BiCopPar2Tau, BiCopPDF, BiCopDeriv, BiCopDeriv2, BiCopHfuncDeriv2)
importFrom(matrixStats, rowQuantiles, colQuantiles, colWeightedMeans)
importFrom(gamlss.dist, dPO, pPO, pNBI, dNBI, pNBII, dNBII, pPIG, dPIG, pDEL, dDEL, pSICHEL, dSICHEL, rNO,rGU,rRG,rLO,rLOGNO,rWEI,rIG,rGA,rGB2,rBE,rNBI,rNBII,rPIG,rPO)
importFrom(methods, extends, is)
importFrom(Rmpfr,getPrec,mpfr,pmax)
importFrom(mnormt, pmnorm)
importFrom(graphics, legend, axTicks, abline, hist, lines, par, polygon, plot, matplot, rug, points) 
importFrom(grDevices, boxplot.stats, cm.colors, gray, heat.colors, terrain.colors, topo.colors, dev.new, dev.interactive, devAskNewPage)   
importFrom(stats, family, lm, median, qt, qnbinom, dpois, qpois, qlogis, plogis, dgamma, dlnorm, dlogis, dnorm, density, cor, coef, as.formula, aggregate.data.frame, integrate, 
           model.matrix, na.omit, na.pass, pbinom, pchisq, pgamma, plnorm, pnorm, printCoefmat,
           qnorm, qqnorm, quantile, residuals, rnorm, sd, uniroot, update, var, weighted.mean, dbeta, pbeta,
           ks.test, shapiro.test, runif, update.formula, qqplot, .checkMFClasses, delete.response,
           model.frame, model.offset, napredict, predict, reformulate, termplot, drop.terms, terms, rbinom,
           AIC, BIC, logLik)           
importFrom(utils, getFromNamespace)
importFrom(numDeriv, jacobian, hessian, grad)
importFrom(distrEx, distrExIntegrate)


S3method(plot, SemiParBIV)
S3method(summary, SemiParBIV)
S3method(summary, SemiParROY)
S3method(summary, SemiParTRIV)
S3method(summary, gjrm)
S3method(summary, copulaSampleSel)
S3method(summary, gamlss)
S3method(print, ATE)
S3method(print, cond.mv)
S3method(print, marg.mv)
S3method(print, SATE)
S3method(print, PE)
S3method(print, RR)
S3method(print, OR)
S3method(print, SemiParBIV)
S3method(print, SemiParTRIV)
S3method(print, SemiParROY)
S3method(print, gjrm)
S3method(print, gamlss)
S3method(print, copulaSampleSel)
S3method(print, summary.SemiParBIV)
S3method(print, summary.SemiParROY)
S3method(print, summary.SemiParTRIV)
S3method(print, summary.gjrm)
S3method(print, summary.gamlss)
S3method(print, summary.copulaSampleSel)
S3method(logLik, SemiParBIV)
S3method(logLik, ggmtrust)
S3method(logLik, lmc)
S3method(predict, SemiParBIV)
S3method(predict, CopulaCLM)
S3method(print, prev)
S3method(print, mb)




